@import url('https://fonts.googleapis.com/css?family=Berkshire+Swash');

body{
	background-color: #ffffff;
	color: #212387;
	font-size: 20px;
	font-family: 'Berkshire Swash', cursive;
	line-height: 20px;
	margin: 0 auto;
	padding: 0;
	width: 700px;
}

a:hover{
	color: #ff8800;
    display: inline-block;
    font-family: 'Berkshire Swash', cursive;
    font-size: 20px;
    font-weight: normal;
    text-decoration: none;

}

section a:hover{
	color: #ff8800;
    display: inline-block;
    font-family: 'Berkshire Swash', cursive;
    font-size: 24px;
    font-weight: normal;
    text-decoration: none;

}

header h1 a:link,
header h1 a:visited {
    color: #4e0451;
    display: inline-block;
    font-family: 'Berkshire Swash', cursive;
    font-size: 40px;
    font-weight: normal;
    text-decoration: none;
}

header h1 a:hover{
	color: #ff0000;
    display: inline-block;
    font-family: 'Berkshire Swash', cursive;
    font-size: 40px;
    font-weight: normal;
    text-decoration: none;

}

header h3{
	color: #9b0067;
}

header h1 {
    display: inline-block;
    font-size: 14px;
    font-weight: normal;
    margin-left: 14px
}

header h1 span{
	color:#f45f42;
	font-size: 20px;

}

nav {
    margin-top: 21px
}
nav ul {
    list-style: none;
    padding: 0 42px;
    margin: 0
}
nav ul li  {
    color: #a4c5fc;
}
nav ul li a:link,
nav ul li a:visited {
    border-bottom: solid 1px #ddd;
    color: #88b551;
    text-decoration: none
}
nav ul li a:active,
nav ul li a:hover {
	color: #ff0000;
    border-bottom-color: #333;
}